.u-icon {
	font-size: .22rem;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
}
.iconfont {
	font-family: iconfont!important;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}